.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 20px;
}

div[class^=grid] {
    border: 1px solid black;
}

/*.grid-item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
} */

/*.grid-item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: span 2;
} 

.grid-item-1 {
    background-color: green;
    grid-column: 1 / 3;
}*/

.grid-item-1 {
    grid-row-start:1;
    grid-row-end:3;
}