body {
    background-color: lightgray;
}

.gradient-to-right {
    width: 800px;
    height: 200px;
    background-color: aqua;
    background-image: linear-gradient(to right, green,red);
    margin-bottom: 20px;
}

.gradient-to-lefttop {
    width: 800px;
    height: 200px;
    background-image: linear-gradient(to left top, rgb(124, 99, 205), green);
}

.gradient-to-lefttop {
    width: 800px;
    height: 200px;
    background-image: linear-gradient(to top, green, red);
    margin-top: 20px;
}