.container {
    width: 800px;
    height: 250px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div[class^=box] {
    width: 60px;
    height: 50px;
    background-color: aquamarine;
    text-align: center;
    line-height: 50px;
    /*flex: 1;*/
    border: 1px solid black;
}

.box1, .box2, .box3, .box4 {
    flex: initial;
}

.box6 {
    flex: 1;
}

